* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  height: 300px;
  width: 600px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
  box-shadow: 3px 3px 4px 2px #000000;
  left: 50%;
  transform: translate(-50%, 0);

}
.card img {
  width: 600px;
}
.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.card span.city_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 2px 2px black;
}
